@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@400;600;900&family=Orbitron:wght@400;500;600;700;800;900&family=Oswald:wght@200;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,800;1,900&family=Raleway:wght@200;300;400;500;600;700;800;900&family=Red+Rose:wght@300;400;700&family=Righteous&family=Roboto:wght@300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

img {
    height: 200px;
}

body {
    background-color: #fff;
    font-family: 'Poppins';
}

.head {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right bottom, #FF6366, #cf4143);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.head img {
    height: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.head1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.image1 img {
    height: 20rem;
}

.context p {
    color: #3F3D56;
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
}

.projects {
    margin-top: 100px;
}

.project-part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    margin-right: 120px;
    margin-left: 120px;
}

.project-part2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    margin-right: 120px;
    margin-left: 120px;
}

.project-part3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    margin-right: 120px;
    margin-left: 120px;
}

.project-part4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    margin-right: 120px;
    margin-left: 120px;
}

.project-part5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    margin-right: 120px;
    margin-left: 120px;
}

.project-part6 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    margin-right: 120px;
    margin-left: 120px;
}

.project-part7 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    margin-right: 120px;
    margin-left: 120px;
}

.project-part8 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    margin-right: 120px;
    margin-left: 120px;
}

.project-card {
    background-color: #eda3a5;
    padding: 40px 40px 30px 40px;
}

.project-card:hover {
    box-shadow: 5px 5px 15px #9d9a9a;
}

.project-card h3 {
    text-align: center;
    font-size: 23px;
    color: #444453;
    margin-bottom: 20px;
}

.street {
    height: 17rem;
    width: 27rem;
}

.food {
    height: 16.5rem;
    width: 27rem;
}

.law {
    height: 17rem;
    width: 27rem;
}

.digital {
    height: 17rem;
    width: 27rem;
}

.crypto {
    height: 17rem;
    width: 27rem;
}

.plant {
    height: 16.5rem;
    width: 27rem;
}

.product {
    height: 17rem;
    width: 27rem;
}

.web-design {
    height: 17rem;
    width: 27rem;
}

.developer {
    height: 17rem;
    width: 27rem;
}

.interior {
    height: 16.5rem;
    width: 27rem;
}

.hosting {
    height: 17rem;
    width: 27rem;
}

.business {
    height: 17rem;
    width: 27rem;
}

.saas {
    height: 17rem;
    width: 27rem;
}

.dance {
    height: 16.5rem;
    width: 27rem;
}

.product-design {
    height: 17rem;
    width: 27rem;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.links a {
    text-decoration: none;
    color: #444453;
    font-weight: 500;
    font-size: 20px;
}

.source {
    margin-right: 150px;
}

.links a:hover {
    cursor: pointer;
    color: #252533;
    text-decoration: underline;
    animation: zoom 200ms ease forwards;
}

@keyframes zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
}

.footer {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    background: linear-gradient(to right bottom, #FF6366, #cf4143);
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-logo img {
    height: 90px;
    margin-left: 60px;
}

.social {
    display: flex;
    flex-direction: column;
    margin-left: 32rem;
}

ion-icon {
    font-size: 35px;
    color: #3F3D56;
    margin-right: 30px;
    margin-bottom: 20px;
}

ion-icon:hover {
    color: #252533;
    animation: zoom 200ms ease forwards;
}

.last h5 {
    margin-left: 3px;
    color: #444453;
}

.last h5 span {
    border-left: 1px solid #444453;
    padding-left: 10px;
    margin-left: 10px;
}